#page-header h1{
  font:bold italic 3em "Georgia", "Times", serif;}
  h2{font:bolder italic 1.5em "Georgia", "Times", serif;}
  h1 {font: bolder italic 1.8em "Georgia", "Times", serif;}
  body {font:1em Verana,Helvetica,Arial,sans-serif;}
  
  